/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Center the page */
body {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#headername {
  font-size: 50px;
  color: #ffffff;
}

nav {
  background-color: #ccc;
  color: #fff;
  padding: 10px;
}

ul {
  list-style: none;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#news-line {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

#main-content {
  flex: 90%;
  /* Adjust the values as needed */
  text-align: left;
  margin-top: 20px;
}

.news-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#news {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #0000ff;
  font-weight: bold;
}

aside {
  flex: 10%;
  /* Adjust the values as needed */
}
hr {
  width: 100%;
  color: #000000;
}
#main-text{
  margin-bottom: 25px;
}

/* footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
} */

.footer {
  background-color: #cccccc;
  padding: 70px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -10px;
  background-color: #0000ff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #000000;
  padding-left: 8px;
}

.footer-copyright {
  text-align: center;
  margin-top: 40px;
}

.footer-copyright p {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #000000;
}

/* styles for table container which sets margin */
.table-container {
  margin-bottom: 10%;
  margin-left: 7%;
  margin-right: 7%;
}

/* styles for table */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 7px 7px;
}

/* styles for table heading and data */
th,
td {
  text-align: left;
  padding: 1rem;
  border-color: #f2f2fe;
}

tr:nth-child(even):hover {
  background-color: rgb(76, 76, 255);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

tr:nth-child(odd):hover {
  background-color: rgb(76, 76, 255);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2fe;
}

.team-container {
  text-align: center;
  margin-bottom: 5%;
}

.team-container p {
  font-size: 2rem;
  font-weight: 800;
}

@media (max-width: 480px) {
  .footer-col {
    width: 100%;
  }

  .footer-copyright {
    text-align: start;
    margin-top: 10px;
  }
  .news-container {
    display: flex;
    flex-direction: column;
  }
  aside {
    display: none;
  }
  img {
    width: 90%;
  }
  hr {
    width: 70%;
    color: #000000;
  }
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .news-container {
    display: flex;
    flex-direction: column;
  }
  aside {
    display: none;
  }
  img {
    width: 90%;
  }
  hr {
    width: 70%;
    color: #000000;
  }
}
